<h1>Booking info</h1>
<p>Here is the information for the booking.</p>
<div>
  <%= render partial: 'flight_info' %>
</div>
<div>
  <h2>Passenger info</h2>
  <p>Here's a summary of passengers included in this booking:</p>
  <% @booking.passengers.each do |passenger| %>
    <div class="passenger">
      <p>Name: <%= passenger.name %></p>
      <p>Email: <%= passenger.email %></p>
    </div>
  <% end %>
</div>
